.container{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    width: 220px;
    padding-bottom: 15px;
  }